/* CSS Index
============

## Google Font Import 
## Common CSS
## Bacground Color  
## Background Image  
## Scroll Top 
## Header Area  
## Main Menu 
## Slider  
## About Section 
## Contact Section 
## Footer Area 
## About Section # 02
## Team Section 
## Breadcrumb Area 


/* Google Font Import 
======================= */

@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500;600;700;900&family=Barlow:wght@300;400;500;600;700;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Common CSS 
============== */

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
  z-index: 1;
  background: #fff;
  color: #030e2c;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  margin: 0;
  color: #333e38;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 40px;
}

h6 {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 500;
  font-family: "Barlow", sans-serif;
  color: #ff6700;
  letter-spacing: 1px;
}

a {
  text-decoration: none;
  cursor: pointer;
  font-family: "Barlow Condensed", sans-serif;
  color: #333e36;
  font-size: 18px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

p {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  position: relative;
  color: #4c4747;
}

button,
input,
textarea,
a:hover,
a:focus,
a:visited {
  text-decoration: none;
  outline: none;
  outline-width: 0 !important;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

img {
  display: inline-block;
  max-width: 100%;
}

i,
span,
a {
  display: inline-block;
}

.color-white {
  background-color: white;
  border-radius: 5px;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

li {
  display: inline-block;
}

table,
th,
tr,
td {
  border: 1px solid #ddd;
}

th,
tr,
td {
  padding: 10px;
}

hr {
  border-top: 1px solid #eee;
}

/*Section Padding CSS*/

.section-padding {
  padding: 40px 0;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .section-padding {
    padding: 30px 10px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .section-padding {
    padding: 40px 40px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .section-padding {
    padding: 35px 35px;
  }
}

@media (max-width: 575px) {
  .section-padding {
    padding: 25px 20px;
  }
}

/*Margin & Padding */

.pad-top-0 {
  padding-top: 0;
}

.pad-bot-0 {
  padding-bottom: 0;
}

.pad-top-20 {
  padding-top: 20px;
}

.pad-bot-20 {
  padding-bottom: 20px;
}

.pad-top-30 {
  padding-top: 30px;
}

.pad-bot-30 {
  padding-bottom: 30px;
}

.pad-top-40 {
  padding-top: 40px;
}

.pad-bot-40 {
  padding-bottom: 40px;
}

.pad-top-50 {
  padding-top: 50px;
}

.pad-bot-50 {
  padding-bottom: 50px;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-10 {
  margin-bottom: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mt-50 {
  margin-top: 50px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mt-60 {
  margin-top: 60px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mt-70 {
  margin-top: 70px;
}

.mb-70 {
  margin-bottom: 70px;
}

.mt-80 {
  margin-top: 80px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mt-90 {
  margin-top: 90px;
}

.mb-90 {
  margin-bottom: 90px;
}

.mt-100 {
  margin-top: 100px;
}

.mb-100 {
  margin-bottom: 100px;
}

.ml-0 {
  margin-left: 0px;
}

/*Section Title */

.section-title {
  position: relative;
}

.section-title h6 {
  text-align: left;
  margin-left: 15px;
  font-size: 42px;
}

.section-title h2 {
  font-size: 43px;
  font-weight: 700;
  line-height: 55px;
  letter-spacing: -1px;
  margin-bottom: 20px;
}

.section-title h2 b {
  font-weight: 700;
  color: #b88124;
}

/*Button Style */

.main-btn {
  display: inline-block;
  background: #fcb65a;
  color: #333e38;
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 1px;
  padding: 13px 35px;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.main-btn.btn-white {
  background: #fff;
  color: #333e38;
}

.main-btn:hover {
  background-color: #b88124;
  color: #fff;
}

/*Form Style CSS */

input,
textarea,
select {
  width: 100%;
  background: transparent;
  border: 1px solid #888383;
  border-radius: 5px;
  padding: 15px 30px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-bottom: 20px;
}

textarea {
  height: 150px;
  resize: none;
}

input[type="submit"],
button[type="submit"] {
  border: none;
  border-radius: 5px;
  display: inline-block;
  background: #333e38;
  color: #fff;
  padding: 12px 20px;
  margin: 20px 0;
  width: auto;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}

input::placeholder,
textarea::placeholder {
  font-size: 14px;
  font-weight: 500;
  color: #333;
}

.contact-section input::placeholder,
.contact-section textarea::placeholder {
  color: #fff;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

/*Bootstrap CSS*/

.container-fluid {
  padding: 0;
}

/* Bacground Color CSS 
============== */

.gray-bg {
  background: #f6f6f6;
}

.white-bg {
  background: #fff;
}

.green-bg {
  background: #017d3f;
}

.deep-green-bg {
  background: #333e38;
}

.bg-cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}

.overlay {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #022b0b6b;
  z-index: -1;
}

/* Background Image
============== */

.hero-area-bg-1 {
  background-image: url(../img/slider/slide1.jpg);
}

.hero-area-bg-2 {
  background-image: url(../img/slider/slide-2.jpg);
}

.hero-area-bg-3 {
  background-image: url(../img/slider/slider-3.jpg);
}

/* Scroll Top 
============== */
.go-top {
  background-color: #017d3f;
  color: #fcdb5a;
  width: 40px;
  height: 40px;
  border-radius: 25px;
  bottom: 6em;
  right: 2em;
  font-size: 18px;
  line-height: 43px;
  text-align: center;
  text-decoration: none;
  display: none;
  position: fixed;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 1;
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .go-top {
    width: 35px;
    height: 35px;
    bottom: 5em;
    right: 2em;
    font-size: 15px;
    line-height: 33px;
  }
}

@media (max-width: 575px) {
  .go-top i:before {
    font-size: 14px;
  }

  .go-top {
    right: 1em;
    bottom: 6em;
    z-index: 1;
  }
}

.go-top:hover {
  background-color: #fcdb5a;
  color: #017d3f;
}

/* Sticky CSS 
============== */

.header-area .is-sticky .sticky-area {
  background: #fff;
  box-shadow: 0 3px 16px -2px #d0cece;
  z-index: 999 !important;
  -webkit-animation: slideInDown 0.6s forwards;
  animation: slideInDown 0.6s forwards;
  margin-top: 0;
}

.header-area .is-sticky .navigation {
  margin-top: 0;
}

.header-area .is-sticky .main-menu .navbar-nav .nav-link {
  padding: 35px 0;
}

.header-area .is-sticky .main-menu li:hover .sub-menu {
  top: 90px;
}

.header-area.absolute-header .is-sticky .navigation {
  background: #ffffff;
}

.header-area.absolute-header .is-sticky .sticky-area {
  box-shadow: 0 3px 16px -2px #484e4b;
}

/* Header Area 
============== */

.header-area .header-btn.main-btn {
  text-transform: uppercase;
}

.header-area.absolute-header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 99;
  padding: 20px 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header-area.absolute-header .navigation {
  background: transparent;
}

.header-area.absolute-header .main-menu .navbar-nav .nav-link {
  color: #333b3e;
  font-weight: 600;
}

.header-area.absolute-header .search-trigger i {
  color: #fff;
}

.logo {
  text-align: left;
}

.is-sticky {
  animation: 0.95s ease-in-out 0s normal none 1 running fadeInDown;
  transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
}

/* Main Menu 
============== */

.header-area .main-menu .navbar-nav .nav-link:hover {
  color: #fcb65a;
  transition: all 0.3s ease-in-out;
}

.header-area .navigation {
  padding: 0px 30px;
  background: #fff;
  height: 100px;
  position: relative;
  z-index: 9;
}

.main-menu .navbar {
  padding: 0;
}

.main-menu li.nav-item {
  position: relative;
  margin-right: 30px;
}

.main-menu .navbar-nav .nav-link {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  display: block;
  padding: 25px 0px;
  letter-spacing: 1px;
}

.main-menu .navbar-nav .nav-item .nav-link.active {
  color: #b88124;
}

.main-menu li.nav-item:hover>NavLink {
  color: #87c03d !important;
}

/*Dropdown Menu */

.sub-menu {
  position: absolute;
  left: 0px;
  top: 120px;
  width: 180px;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 600ms ease;
  transition: all 600ms ease;
  z-index: 99;
  -webkit-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05),
    -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05),
    -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
}

.sub-menu::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  top: 0;
  left: 0;
  background: #fcb65a;
  visibility: hidden;
  opacity: 0;
}

.main-menu li:hover .sub-menu {
  opacity: 1;
  visibility: visible;
  top: 70px;
}

.main-menu li:hover .sub-menu::after {
  opacity: 1;
  visibility: visible;
}

.main-menu ul.sub-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-menu .sub-menu li {
  display: block;
  border-bottom: 1px solid #eee;
}

.main-menu .sub-menu li:last-child {
  border-bottom: none;
}

.main-menu .sub-menu li a {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  display: block;
  padding: 12px;
  color: #777;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.main-menu .sub-menu li:hover>a {
  background: #fcb65a;
  color: #333e38;
}

.navigation .navbar .navbar-nav .nav-item .sub-nav-toggler {
  background: none;
  border: none;
}

.header-right-content {
  display: flex;
  align-items: center;
  justify-content: start;
}

.header-right-content .search-trigger i {
  font-size: 20px;
  margin-right: 40px;
  position: relative;
  top: 2px;
}

.header-right-content .search-trigger:hover {
  cursor: pointer;
}

.slick-prev,
.slick-next {
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}

.homepage-slides:hover .slick-prev,
.homepage-slides:hover .slick-next {
  opacity: 1;
}

.slick-prev:hover,
.slick-next:hover {
  opacity: 1;
}

.btn::before {
  font-size: 40px;
}

.btn::hover::before {
  color: #cbd447;
}

/* Slider CSS 
==================*/

.single-slide-item {
  background-size: cover;
  background-position: center;
  background-color: #ddd;
  color: #fff;
  width: 100%;
  height: 850px;
  display: table !important;
  position: relative;
  z-index: 1;
}

.single-slide-item h1 {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.6;
  margin: 30px 0;
}

.single-slide-item p {
  color: #ccc7c7;
  font-size: 18px;
  line-height: 30px;
}

.homepage-slides .owl-nav button.owl-prev,
.homepage-slides .owl-nav button.owl-next {
  width: 50px;
  height: 50px;
  border: 2px solid;
  font-size: 20px;
  font-weight: 100;
  line-height: 16px;
  position: absolute;
  left: 15px;
  top: 50%;
  margin-top: -25px;
  color: #fcdb5a;
  border-radius: 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.homepage-slides .owl-nav button.owl-next {
  left: auto;
  right: 15px;
}

.homepage-slides:hover .owl-nav button.owl-prev,
.homepage-slides:hover .owl-nav button.owl-next {
  visibility: visible;
  opacity: 0.3;
}

.homepage-slides .owl-nav button.owl-prev:hover,
.homepage-slides .owl-nav button.owl-next:hover {
  background: #fcdb5a;
  color: #fff;
  border-color: #fcdb5a;
  opacity: 1;
}

.hero-area-content {
  display: table-cell;
  vertical-align: middle;
}

.hero-area-content .main-btn {
  margin: 25px 0;
}

/*Info Section */

.info-area {
  position: relative;
  margin-top: -100px;
  z-index: 9;
}

.info-bg {
  background-image: url(../img/title.jpg);
}

.info-bg.bg-cover {
  height: 320px;
  background-position: top center;
  border-radius: 5px 0 0 5px;
}

.info-content {
  padding: 35px;
  border-left: 10px solid #fcb65a;
  height: 100%;
}

.info-content h5 {
  font-size: 38px;
  line-height: 45px;
  margin-bottom: 20px;
}

.info-content a {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  color: #b88124;
  margin: 15px 0;
  font-weight: 500;
}

.info-inner {
  background: #fff;
  box-shadow: 0 1px 4px -2px #6e7b71;
  border-radius: 5px;
}

.info-founder {
  background: #fcb65a;
  height: 100%;
  text-align: center;
  padding: 33px 50px;
  border-radius: 5px;
}

.info-founder i:before {
  font-size: 50px;
}

.info-founder p.highlight {
  font-size: 60px;
  font-weight: 600;
  font-family: "Barlow Condensed", sans-serif;
  color: #333e38;
  margin: 30px 0;
}

.info-founder p {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #333e38;
}

/* About Section
============== */

.about-img-wrap {
  max-width: calc(100% - 60px);
}

.about-img-wrap img {
  border-radius: 8px;
}

.about-feature-list ul li {
  position: relative;
  padding-left: 30px;
  color: #777;
  margin-bottom: 20px;
}

.about-feature-list ul li svg {
  position: absolute;
  top: 0;
  left: 0;
  color: #017d3f;
  font-size: 18px;
  font-weight: 600;
}

.about-feature-list {
  margin-top: 20px;
}

/*Pop up Video */

.pop-up-video {
  position: relative;
  z-index: 1;
}

.pop-up-video a.video-play-btn {
  font-size: 20px;
  color: #fff;
  border: 2px solid #fcb65a;
  border-radius: 50%;
  padding: 15px;
  width: 70px;
  height: 70px;
  line-height: 38px;
  text-align: center;
  position: absolute;
  top: 10%;
  left: 50%;
  margin-left: -35px;
  margin-top: -35px;
  background: #fcb65a;
  cursor: pointer;
  z-index: 9;
}

@keyframes btnIconRipple {
  0% {
    border-width: 4px;
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  80% {
    border-width: 1px;
    -webkit-transform: scale(1.35);
    transform: scale(1.35);
  }

  100% {
    opacity: 0;
  }
}

.pop-up-video a::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: -2px;
  left: -2px;
  bottom: -2px;
  right: -2px;
  border-radius: inherit;
  border: 1px solid #ff6700;
  -webkit-animation: btnIconRipple 2s cubic-bezier(0.23, 1, 0.32, 1) both infinite;
  animation: btnIconRipple 2s cubic-bezier(0.23, 1, 0.32, 1) both infinite;
}

.pop-up-video i:before {
  margin-left: 5px;
}

/* Contact Section 
============== */

.contact-section {
  position: relative;
  z-index: 1;
  background-attachment: fixed;
}

.contact-section .overlay {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #024021f2;
  top: 0;
  left: 0;
  z-index: -1;
}

.contact-content {
  margin-top: 30px;
}

.contact-section .contact-info i {
  font-size: 30px;
  margin-left: 0;
  background: #87c03d;
  color: #fff;
  padding: 15px;
  border-radius: 50%;
  float: left;
}

.contact-inner {
  margin-bottom: 30px;
}

.contact-inner h6 {
  padding-left: 100px;
  padding-top: 5px;
}

.contact-inner p {
  padding-left: 100px;
}

.contact-section .section-title h2 {
  color: #fff;
}

.contact-section .section-title h2 b {
  color: #fcdb5a;
}

.contact-section p {
  color: #fff;
}

.contact-section input,
.contact-section textarea {
  border-color: #5a8e5a;
}

.contact-section button.main-btn {
  border: none;
}

.contact-section button.main-btn:hover {
  background: #fff;
  color: #017d3f;
}

.contact-form {
  margin-top: 80px;
}

/* Footer Area
============== */

.footer-area {
  background: #2e2822;
  color: #fff;
}

.footer-area h6 {
  color: #d35b29;
  margin: 20px 0;
}

.footer-area p {
  margin-top: 16px;
}

.contact-info p {
  margin-bottom: 10px;
}

.contact-info p svg {
  fill: #b88124;
  font-size: 22px;
  margin-right: 8px;
  position: relative;
  top: -2px;
  width: 20px;
  height: 20px;
}

.footer-area .links a {
  display: block;
  color: #cfd9d3;
  padding: 7px 0;
  position: relative;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.footer-area .links a:hover {
  color: #fcb65a;
  display: inline-flex;
  align-items: center;
}

.footer-area .links a:focus:after,
.footer-area .links a:hover:after {
  width: 100%;
  left: auto;
}

.footer-area .links a:after {
  content: "";
  pointer-events: none;
  bottom: 2px;
  right: auto;
  left: 0;
  position: absolute;
  width: 0%;
  height: 1px;
  background-color: #fcb65a;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 500ms;
  transition-property: width, right;
}

.footer-up {
  padding: 60px 0;
  padding-top: 120px;
}

.footer-up p {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 18px;
  color: #cfd9d3;
}

.footer-bottom {
  padding: 15px 0;
  background: #332e28;
}

.footer-bottom p {
  color: #cfd9d3;
  font-size: 14px;
  margin: 0;
}

p.privacy {
  text-align: right;
}

ul {
  list-style: none;
}

.social-area {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 65px;
}

.social-area .icon-content {
  margin: 0 10px;
  position: relative;
}

.social-area .icon-content .tooltip {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  padding: 6px 10px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  font-size: 14px;
  transition: all 0.3s ease;
}

.social-area .icon-content:hover .tooltip {
  opacity: 1;
  visibility: visible;
  top: -50px;
}

.social-area .icon-content a {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #4d4d4d;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}

.social-area .icon-content a:hover {
  box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}

.social-area .icon-content a svg {
  position: relative;
  z-index: 1;
  width: 30px;
  height: 30px;
}

.social-area .icon-content a:hover {
  color: white;
}

.social-area .icon-content a .filled {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #000;
  transition: all 0.3s ease-in-out;
}

.social-area .icon-content a:hover .filled {
  height: 100%;
}

.social-area .icon-content a[data-social="spotify"] .filled,
.social-area .icon-content a[data-social="spotify"]~.tooltip {
  background-color: #1db954;
}

.social-area .icon-content a[data-social="pinterest"] .filled,
.social-area .icon-content a[data-social="pinterest"]~.tooltip {
  background-color: #bd081c;
}

.social-area .icon-content a[data-social="dribbble"] .filled,
.social-area .icon-content a[data-social="dribbble"]~.tooltip {
  background-color: #ea4c89;
}

.social-area .icon-content a[data-social="telegram"] .filled,
.social-area .icon-content a[data-social="telegram"]~.tooltip {
  background-color: #0088cc;
}

/* About Section # 02
============== */

.about-area {
  overflow: hidden;
}

.about-certify {
  background: #fcdb5a;
  padding: 25px;
  border-radius: 5px;
}

.about-certify p {
  color: #333e38;
}

.about-icon img {
  width: 55px;
}

.about-certify h5 {
  font-size: 22px;
  margin: 20px 0;
}

.card {
  position: relative;
  height: 350px;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.35);
  margin-bottom: 30px;
}

.temporary_text {
  font-weight: bold;
  font-size: 24px;
  color: #f8f8f8;
}

.card_title {
  font-weight: bold;
}

.card_content {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 20px;
  background: #f2f2f2;
  border-top-left-radius: 20px;
  transition: transform 0.25s;
}

.card1 {
  transform: translateY(150px);
}

.card2 {
  transform: translateY(95px);
}

.card3 {
  transform: translateY(125px);
}

.card4 {
  transform: translateY(95px);
}

.card_content::before {
  content: "";
  position: absolute;
  top: -47px;
  right: -45px;
  width: 100px;
  height: 100px;
  transform: rotate(-175deg);
  border-radius: 50%;
  box-shadow: inset 48px 48px #f2f2f2;
}

.card_title {
  color: #dc4628;
  line-height: 15px;
  margin-bottom: 15px;
}

.card_subtitle {
  display: block;
  font-size: 12px;
}

.card_description {
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.5s;
  margin-bottom: 0;
}

.card:hover .card_content {
  transform: translateY(0);
}

.card:hover .card_description {
  opacity: 1;
  transition-delay: 0.25s;
}

/* Vision & Mission  */

.vision-area {
  overflow: hidden;
}

.facility-area {
  overflow: hidden;
}

.coreValues-area {
  overflow: hidden;
}

.parallax {
  position: relative;
  background: url(../img/IMG_7210.jpg) no-repeat fixed 100%;
  background-size: cover;
}

.parallax::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}

.parallax-content {
  position: relative;
  z-index: 2;
  color: white;
}

/* Core Values Section */

.icon-item h5 {
  color: #4c4747;
  font-weight: 700;
  line-height: 1.6;
  margin-top: 25px;
  margin-bottom: 16px;
}

/* Service Section # 02
============== */

.service-bg {
  background-image: url(../img/service/service-img.jpg);
}

.service-bg {
  height: 500px;
  background-size: cover;
  background-position: center;
  background-color: #ddd;
  border-radius: 10px;
  position: relative;
}

.service-area.theme-2 .pop-up-video {
  position: absolute;
  top: 50%;
  left: 50%;
}

.single-service-area.active .num {
  color: #fcdb5a;
}

.single-service-area.active {
  border-bottom: 4px solid #fcdb5a;
}



/* Team Section 
============== */

.team-area {
  overflow: hidden;
}

.team-member-bg {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 350px;
  border-radius: 10px;
}

.team-img-1 {
  background-image: url("../img/team/1.jpg");
}

.team-img-2 {
  background-image: url("../img/team/2.jpg");
}

.team-img-3 {
  background-image: url("../img/team/3.jpg");
}

.team-img-4 {
  background-image: url("../img/team/4.jpg");
}

.single-team-member {
  position: relative;
  margin-top: 25px;
  margin-bottom: 50px;
}

.single-team-member .team-content {
  position: absolute;
  bottom: -31px;
  left: 0;
  right: 0;
  background: #fff;
  text-align: center;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  border-radius: 0 0 5px 5px;
}

.team-content .team-title {
  font-weight: 500;
  margin-bottom: -3px;
}

.team-content .team-title a {
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0.3px;
  color: #191919;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  margin: 20px 0 10px;
}

.team-content .team-subtitle p {
  font-size: 16px;
  margin: 0;
  color: #333e38;
}

ul.team-social {
  list-style: none;
  margin: 0;
  padding-bottom: 20px;
}

ul.team-social li {
  display: inline-block;
}

ul.team-social li a {
  font-size: 18px;
  padding: 10px;
  transition: all 0.3s ease-out;
}

.single-team-member:hover .team-content {
  background: #e0b363;
}

.single-team-member:hover .team-content .team-title a {
  color: #fff;
}

/* Client Section
============== */

.item-clients-img img {
  opacity: 0.3;
}

.item-clients-img img:hover {
  opacity: 0.7;
}

/* Breadcrumb Area 
============== */

.breadcroumb-area-about {
  background-image: url(../img/slider/slide-1.jpg);
}

.breadcroumb-area-product {
  background-image: url(../img/product.jpg);
}

.breadcroumb-area-career {
  background-image: url(../img/career.jpg);
}

.breadcroumb-area-contact {
  background-image: url(../img/contact.jpg);
}

.breadcroumb-area {
  height: 400px;
  background-size: cover;
  background-position: center;
  background-color: #ddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  z-index: 2;
}

.breadcroumb-area:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #af916f;
  opacity: 0.5;
  z-index: -1;
}

.breadcroumb-area .breadcroumb-title h1 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 70px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #fff;
  margin-top: 40px;
  margin-bottom: 10px;
}

.breadcroumb-area h5 a {
  font-size: 20px;
  color: #fff;
}

.breadcroumb-area h5 {
  color: #ff6700;
  font-size: 16px;
  margin-top: 25px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .breadcroumb-area .breadcroumb-title h1 {
    font-size: 50px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .breadcroumb-area .breadcroumb-title h1 {
    font-size: 40px;
  }
}

@media (max-width: 575px) {
  .breadcroumb-area .breadcroumb-title h1 {
    font-size: 35px;
  }
}

/* Career page css */

.career-area {
  overflow: hidden;
}

.form {
  overflow: hidden;
}

.heading__pre-title {
  display: inline-block;
  color: #ff6700;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 17px;
  z-index: 1;
  position: relative;
  line-height: 1.6;
}

.heading__title {
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 0;
  z-index: 1;
  position: relative;
  font-weight: 700;
}

.contact-form__subtitle {
  margin-bottom: 17px;
  font-size: 20px;
  letter-spacing: 0;
  font-weight: 700;
  color: #414a53;
  line-height: 1.6;
}

.form__field {
  display: inline-block;
  width: 100%;
  height: 50px;
  font-size: 14px;
  border: 1px solid #888383;
  margin-bottom: 20px;
  padding: 0 20px;
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.button--green {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  color: #414a53;
  height: 50px;
  min-width: 170px;
  text-align: left;
  border: 2px solid #b88124;
  border-radius: 0 0 20px 0;
  padding: 0 20px;
  cursor: pointer;
  font-weight: 500;
}

.form__message {
  padding: 13px 20px 13px 20px;
  height: 195px;
  resize: none;
}

.button--green:hover {
  background-color: #b88124;
  color: white;
}

.send-btn {
  width: 20px;
  height: 20px;
  margin-left: 5px;
  fill: #b88124;
}

.button--green:hover .send-btn {
  transform: translateX(8px);
  transition: all 0.5s;
  fill: white;
}

/* Contact css */

.contact-area {
  overflow: hidden;
}

#contact .contact-info svg {
  width: 60px;
  height: 60px;
  margin-left: 0;
  background: #b88124;
  fill: #fff;
  padding: 15px;
  border-radius: 40%;
  float: left;
}

#contact input::placeholder,
#contact textarea::placeholder {
  color: #9a9a9a;
}

#contact button.main-btn {
  border: none;
  width: 200px;
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .r-tabs .r-tabs-nav {
    display: block;
  }
}

.horizontal-tabs li.r-tabs-state-active {
  position: relative;
  border: 1px solid #d9e2e0;
  border-bottom: 1px solid #fff;
}

.r-tabs .r-tabs-tab {
  display: inline-block;
  margin: 0;
  list-style: none;
}

.horizontal-tabs li.r-tabs-state-active::before {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background: #ff6700;
  position: absolute;
  top: 0;
  left: 0;
}

.horizontal-tabs .horizontal-tabs__header a {
  color: #414a53;
  font-size: 15px;
  font-weight: 500;
}

@media only screen and (min-width: 768px) {
  .horizontal-tabs .r-tabs-state-active a {
    background: 0 0;
  }
}

.horizontal-tabs .r-tabs-state-active a {
  background: #d9e2e0;
  color: #414a53;
}

@media only screen and (min-width: 768px) {
  .horizontal-tabs .r-tabs-anchor {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 13px 20px;
  }
}

.horizontal-tabs .r-tabs-anchor,
.horizontal-tabs__header a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #c3c3c3;
  font-weight: 700;
  text-decoration: none;
  padding: 10px 20px;
}

a {
  color: #ff6700;
  text-decoration: underline;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

.tabs .r-tabs-accordion-title {
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .r-tabs .r-tabs-accordion-title {
    display: none;
  }
}

.r-tabs .r-tabs-accordion-title {
  display: block;
}

.r-tabs .r-tabs-accordion-title {
  display: none;
}

/* Awards css */

.awards-area {
  overflow: hidden;
}

.elements {
  padding: 10px;
}

.heading {
  display: flex;
}

.heading p {
  font-size: 13.5px;
  line-height: 1.4;
}

.full-form p {
  font-size: 15px;
  margin: 0;
}

/* Certificates css */

.certificates-area {
  overflow: hidden;
}

.certificate-img-1 {
  background-image: url("../img/certificates/certificates1.jpeg");
}

.certificate-img-2 {
  background-image: url("../img/certificates/certificates2.jpeg");
}

.certificate-img-3 {
  background-image: url("../img/certificates/certificates3.jpeg");
}

.certificate-img-4 {
  background-image: url("../img/certificates/certificates4.jpeg");
}

/* Loader in Contact Form */

.loader {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
  vertical-align: middle;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loading-text {
  color: #b88124;
  margin-top: 10px;
}


/* NoPage Style Start Here */

.wrapper {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 24rem;
  margin-left: auto;
  margin-right: auto;

}

.page-logo {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 0.75rem;
  background-color: #eff6ff;
  border-radius: 9999px;
}

.page-logo svg {
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: middle;
  margin-top: 500px;
}

.page-heading {
  font-size: 1.875rem;
  line-height: 2.25rem;
  color: #1f2937;
  font-weight: 600;
  margin-top: 0.75rem;
}

.page-para {
  color: #6b7280;
  margin-top: 1rem;
}

.page-btn {
  width: auto;
  column-gap: 0.75rem;
  align-items: center;
  flex-shrink: 0;
  display: flex;
  margin-top: 1.5rem;
}

.page-btn button {
  color: #18181b;
  font-weight: 550;
  font-size: 0.938rem;
  line-height: 1.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  justify-content: center;
  align-items: center;
  height: 2.25rem;
  display: inline-flex;
  cursor: pointer;
  outline: none;
  border: none;
}

.page-btn button svg {
  height: 1rem;
  width: 1rem;
  vertical-align: middle;
}

.page-btn button:hover svg {
  transform: translateX(-10px);
  transition: all 0.3s ease-in;
}

.page-btn a {
  color: white;
  font-weight: 550;
  font-size: 0.938rem;
  line-height: 1.25rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
  background-color: #18181b;
  border-radius: 0.75rem;
  justify-items: center;
  align-items: center;
  height: 2.25rem;
  display: inline-flex;
}

.page-btn a:hover {
  background-color: #18181be6;
}


/* NoPage Style End Here */