.about-header-menu {
  top: 120px;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  background-color: #eee;
  transition: all 0.6s ease;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05), -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
  border-radius: 3px;
}

.about-header:hover .about-header-menu {
  top: 80px;
  opacity: 1;
  visibility: visible;
  transition: all 0.6s ease;
  position: absolute;
}

.product-header-menu {
  top: 120px;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  background-color: #eee;
  transition: all 0.6s ease;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05), -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
  border-radius: 3px;
}

.product-header:hover .product-header-menu {
  top: 80px;
  opacity: 1;
  visibility: visible;
  transition: all 0.6s ease;
  position: absolute;
}