/* Header Css */
.about-header-menu {
  top: 120px;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  background-color: #eee;
  transition: all 0.6s ease;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05), -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
  border-radius: 3px;
}

.about-header:hover .about-header-menu {
  top: 75px;
  opacity: 1;
  visibility: visible;
  transition: all 0.6s ease;
  position: absolute;
}

.product-header-menu {
  top: 120px;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  background-color: #eee;
  transition: all 0.6s ease;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05), -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
  border-radius: 3px;
}

.product-header:hover .product-header-menu {
  top: 75px;
  opacity: 1;
  visibility: visible;
  transition: all 0.6s ease;
  position: absolute;
}

/* Slider Css */

.single-slide-item {
  background-size: cover;
  background-position: center;
  background-color: #ddd;
  color: #fff;
  width: 100%;
  height: 550px;
  display: table !important;
  position: relative;
  z-index: 1;
}

.hero-area-content {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}

.slick-next::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3C!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--%3E%3Cpath fill='%23ffffff' d='M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z'/%3E%3C/svg%3E%0A") !important;
}

.slick-prev:before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3C!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--%3E%3Cpath fill='%23ffffff' d='M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256 246.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z'/%3E%3C/svg%3E") !important;
}

.hero-area-bg-1 {
  background-image: url(./assets/img/facility/facility1.jpg);
}

.hero-area-bg-2 {
  background-image: url(./assets/img/slider/slider-2.jpg);
}

.hero-area-bg-3 {
  background-image: url(./assets/img/slider/slider-3.jpg);
}

/* Parallax Css */

.parallax {
  position: relative;
  background: url(/src/assets/img/IMG_7210.jpg) no-repeat fixed 100%;
  background-size: cover;
}

.parallax::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}

.parallax-content {
  position: relative;
  z-index: 2;
  color: white;
}

/* Loader in Contact Form */

.loader {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
  vertical-align: middle;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loading-text {
  color: #b88124;
  margin-top: 10px;
}


/* Info section */
.info-bg {
  background-image: url(./assets/img/title.jpg);
}